<!DOCTYPE html>
<html>
  <head>
    <title>
      PrintTo3D
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/layoutStyles.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/ProductStyles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%- include('./partials/header') %>
    <main>
      <section id="product-detail">
        <img src="<%= "/img/" + productoEncontrado.image %>" alt="product-image" width="200">
        <div class="details-info">
          <h1><%= productoEncontrado.nombreProducto %></h1>
          <div class="price-container">
            <p>Precio:</p>
            <span><%= "$" + productoEncontrado.price  %></span>
          </div>
          <p class="mini-description"><%= productoEncontrado.descripcion %></p>
        </div>
      </section>
      <section id="product-actions">
        <div class="action-container">
          <div class="colors-container">
            <p>Colores:</p>
            <% for(let i=0; i<productoEncontrado.colores.length; i++) {%>
              <div class="color" style="background-color:<%= productoEncontrado.colores[i] %>">
              </div>
            <% } %>
          </div>
          <div class="action-buttons">
            <div class="cantidad-container">
              <label for="cantidad">Cantidad:</p>
              <input type="number" id="cantidad" name="cantidad">
            </div>
            <button type="button">Agregar al carrito</button>
          </div>
        </div>
      </section>
      <section id="additional-product-info">
        <h4>Descripción:</h4>
        <p><%= productoEncontrado.descripcionAmpliada %></p>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>