<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        PrintTo3D
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productAdd.css">
    <link rel="stylesheet" href="/css/layoutStyles.css">
    <link rel="stylesheet" href="/css/reset.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <%- include('./partials/header') %>  
    <main>
      <div class="forms-container">
        <form class="contenedor-form" action="/products/<%= productToEdit.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
            <h1>Editar Producto</h1>
            <div class="contenedor-form__Agrupa">

                <div class="contenedor-form__detalleProcucto">
                    <input class="contenedor-form__input" type="text" name="name" id="name" placeholder="Nombre del Producto" value="<%= productToEdit.name ? productToEdit.name : "" %>">
                    <!-- Agregar Categoria de forma Automatica  -->
                    <h4 class="text-error" id="nameError"></h4>
                    <% if(locals.errores && errores.name) { %>
                      <h4 class="text-error" ><%= errores.name.msg %></h4>
                    <% } %>
                    <select class="contenedor-form__input" name="idCategory" id="category" >  
                      <% for(let i=0; i<categories.length; i++) {%>
                        <option value="<%= categories[i].id %>" <%= productToEdit.idcategory == categories[i].id ? "selected" : "" %>><%= categories[i].name %></option>
                      <% } %>
                    </select>
                    <textarea class="contenedor-form__input" name="short_description" id="short_description" placeholder="Descripción" ><%= productToEdit.short_description ? productToEdit.short_description : "" %></textarea>
                    <h4 class="text-error" id="short_descriptionError"></h4>
                    <% if(locals.errores && errores.short_description) { %>
                      <h4 class="text-error" ><%= errores.short_description.msg %></h4>
                    <% } %>
                    <textarea class="contenedor-form__input" name="long_description" id="long_description" placeholder="Descripción ampliada"><%= productToEdit.long_description ? productToEdit.long_description : "" %></textarea>
                    <h4 class="text-error" id="long_descriptionError"></h4>
                    <% if(locals.errores && errores.long_description) { %>
                      <h4 class="text-error" ><%= errores.long_description.msg %></h4>
                    <% } %>
                    <input class="contenedor-form__input" type="number" name="price" id="price" placeholder="Precio del Producto" value="<%= productToEdit.price ? productToEdit.price : "" %>">
                    <h4 class="text-error" id="priceError"></h4>
                    <% if(locals.errores && errores.price) { %>
                      <h4 class="text-error" ><%= errores.price.msg %></h4>
                    <% } %>
                    <input class="contenedor-form__input" type="file" id="image" name="image">
                    <h4 class="text-error" id="imageError"></h4>
                    <% if(locals.errores && errores.imageFormat) { %>
                      <h4 class="text-error"><%= errores.imageFormat.msg %></h4>
                  <% } %>
                    <label for="colores">Colores:</label>
                    <div class="colors-container">
                      <% for(let i=0; i<colores.length; i++) {%>
                        <div class="individual-colors-container">
                          <input type="checkbox" name="colores" id="<%= colores[i].id %>" value="<%= colores[i].id %>" <%=filterColor.find(color => color == colores[i].id) !== undefined ? "checked" : "" %> style="height: 30px; width: 30px; background-color: #ffffff; font-size: 40px;">
                          <label for="<%= colores[i].id %>">
                            <div class="color" style="background-color:<%= colores[i].hexadecimal %>;"></div>
                          </label>
                        </div>
                      <% } %>
                    </div>
                    <div class="contenedor-form__detalleProcucto--botones">
                      <div class="button-center contenedor-form__input">
                        <a href="/productDetails/<%= productToEdit.id %>">
                          <input type="button" name="descartar" id="button" value="Descartar" style="color: #ffffff;">
                        </a>
                      </div>
                      <div class="button-center contenedor-form__input">
                        <input type="submit" name="guardar" id="button" value="Guardar">
                      </div>
                    </div>
                </div>
            </div>
        </form>
        <form class="contenedor-form__detalleProcucto--botones delete-form" action="/products/<%= productToEdit.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
          <input class="button-center contenedor-form__input delete-button" type="submit" name="eliminar" id="button" value="Eliminar">
        </form>
      </div>
    </main>
    <%- include('./partials/footer') %>  
</body>
<script src="/js/productAddValidation.js"></script>
<script src="/js/toggleMenu.js"></script>
</html>