<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        PrintTo3D
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/registerStyles.css">
    <link rel="stylesheet" href="css/layoutStyles.css">
    <link rel="stylesheet" href="css/reset.css">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <form class="contenedor-form" action="/register" method="POST" enctype="multipart/form-data">
            <h1>Crea tu cuenta en PrintTo3D</h1>
            <div class="contenedor-Nombre-Apellido">
                <div class="contenedor-input">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                    <h4 class="text-error" id="nombreError"></h4>
                    <% if(locals.errores && errores.nombre) { %>
                        <h4 class="text-error"><%= errores.nombre.msg %></h4>
                    <% } %>
                </div>
    
                <div class="contenedor-input">
                    <input type="text" name="apellido" id="apellido" placeholder="Apellido">
                    <h4 class="text-error" id="apellidoError"></h4>
                    <% if(locals.errores && errores.apellido) { %>
                        <h4 class="text-error"><%= errores.apellido.msg %></h4>
                    <% } %>
                </div>
            </div>
            
            <div class="contenedor-input">
                <input type="email" name="email" id="email" placeholder="Correo electronico" required>
                <h4 class="text-error" id="emailError"></h4>
                <% if(locals.errores) { %>
                  <% if(errores.email) { %>
                      <h4 class="text-error"><%= errores.email.msg %></h4>
                  <% } %>
                  <% if(errores.emailRepetido) { %>
                      <h4 class="text-error"><%= errores.emailRepetido.msg %></h4>
                  <% } %>
                <% } %>
            </div>
            <div class="contenedor-input">
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <h4 class="text-error" id="passwordError"></h4>
                <% if(locals.errores && errores.password) { %>
                    <h4 class="text-error"><%= errores.password.msg %></h4>
                <% } %>
            </div>
            <div class="contenedor-input">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar contraseña">
                <h4 class="text-error" id="confirmPasswordError"></h4>
                <% if(locals.errores && errores.confirmPassword) { %>
                    <h4 class="text-error"><%= errores.confirmPassword.msg %></h4>
                <% } %>
            </div>

            <div class="contenedor-input">
                <input class="contenedor-form__input" type="file" id="image" name="image">
                <h4 class="text-error" id="imageError"></h4>
                <% if(locals.errores && errores.imageFormat) { %>
                    <h4 class="text-error"><%= errores.imageFormat.msg %></h4>
                <% } %>
            </div>
            <div class="contenedor-button-center" >
                <input class="button-center" type="submit" name="button" id="button" value="Crear">
            </div>

            <a href="/login">¿Ya tenes una cuenta?</a>
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>
<script src="/js/userregisterValidation.js"></script>
</html>