<header>
	<section id="nav-section">
		<a href="/">
			<img src="/img/logo2.png" alt="LogoPrintTo3D" width="150px" />
		</a>
		<nav>
      <% for(let i=0; i<categories.length; i++) {%>
			  <a href="/category/<%= categories[i].id %>"><%= categories[i].name %></a>
      <% } %>
		</nav>
	</section>
	<section id="nav-mobile">
		<button type="button">
			<i class="fa-sharp fa-solid fa-bars"></i>
		</button>
    <div id="hamb-menu">
      <ul>
        <% for(let i=0; i<categories.length; i++) {%>
          <li>
            <a href="/category/<%= categories[i].id %>"><%= categories[i].name %></a>
          </li>
        <% } %>
      </ul>
    </div>
	</section>

	<section id="user-section">
		<% if(locals.userLogged) { %>
		<button type="button"><%= userLogged.name %></button>
		<% } else { %>
		<a href="/register">
			<button type="button">Crear cuenta</button>
		</a>
		<% }%>

		<% if(locals.userLogged) { %>
      <a href="/logout"><button type="button">Cerrar sesión</button></a>
      <% } else { %>
        <a href="/login">
          <button type="button">Iniciar sesión</button>
        </a>
      <% }%>


		<button type="button">
			<i class="fa-sharp fa-solid fa-circle-user"></i>
		</button>
	</section>
</header>
