<header>
	<section id="nav-section">
		<a href="/">
			<img src="/img/logo2.png" alt="LogoPrintTo3D" width="150px" />
		</a>
		<nav>
      <% for(let i=0; i<categories.length; i++) {%>
			  <a href="/category/<%= categories[i].id %>"><%= categories[i].name %></a>
      <% } %>
      <% if(locals.userLogged) { %>
        <a href="/products/create">Crear Producto</a>
      <% }%>  
		</nav>
	</section>
  <div id="overlay"></div>
	<section id="nav-mobile">
		<button type="button" id="menu-button">
			<i class="fa-sharp fa-solid fa-bars"></i>
		</button>
    <div id="hamb-menu">
      <ul>
        <% if(locals.userLogged) { %>
          <li id="menu-user-logged">
            <p><%= userLogged.name %></p>
            <button type="button" style="cursor: default;">
              <% if(userLogged.image) { %>
                <img src="<%= "/img/users/" + userLogged.image %>" alt="" style="height: 38px; width: 38px; border-radius: 100%; border: 3px solid #0093d7;">
              <% } else { %>
                <i class="fa-sharp fa-solid fa-circle-user"></i>
              <% }%>
            </button>
          </li>
          <% } else { %>
          <li>
            <a href="/register">
              <button type="button">Crear cuenta</button></a>
          </li>
        <% }%>
        <% if(locals.userLogged) { %>
          <li>
            <a href="/logout">
              Cerrar sesi贸n
            </a>
          </li>
            <li>
              <a href="/products/create">Crear Producto</a>
            </li>
        <% } else { %>
          <li>
            <a href="/login">
              Iniciar sesi贸n
            </a>
          </li>
        <% }%>
        <% for(let i=0; i<categories.length; i++) {%>
          <li>
            <a href="/category/<%= categories[i].id %>"><%= categories[i].name %></a>
          </li>
        <% } %>
      </ul>
    </div>
	</section>

	<section id="user-section">
		<% if(locals.userLogged) { %>
		<button type="button" id="nameLogged"><%= userLogged.name %></button>
		<% } else { %>
		<a href="/register">
			<button type="button">Crear cuenta</button>
		</a>
		<% }%>

		<% if(locals.userLogged) { %>
      <a href="/logout"><button type="button">Cerrar sesi贸n</button></a>
      <% } else { %>
        <a href="/login">
          <button type="button">Iniciar sesi贸n</button>
        </a>
      <% }%>


    <% if(locals.userLogged) { %>
		  <button type="button" style="cursor: default;">
        <% if(userLogged.image) { %>
          <img src="<%= "/img/users/" + userLogged.image %>" alt="" style="height: 38px; width: 38px; border-radius: 100%; border: 3px solid #0093d7;">
        <% } else { %>
          <i class="fa-sharp fa-solid fa-circle-user"></i>
        <% }%>
		  </button>
    <% }%>
	</section>
</header>
